<div style='display: flex;'>
	<ul style='flex: 1; list-style-type: none;'>
		<% @map_info.data.each_with_index do |byte, i| %>
			<li><%= i %>: <%= byte.to_s(16) %></li>
		<% end %>
	</ul>

	<div style='flex: 2'>
		<p>
			Dimensions: <%= @map_info.dimensions.to_json %>
		</p>

		<p>
			Viewable Size: <%= @map_info.map_viewable_size.to_json %>
		</p>

		<p>
			Tilesets: <%= @map_info.tilesets.to_json %>
		</p>

		<p>
			Formations: <%= @map_info.formations.to_json %>
		</p>

		<p>
			Map Data Offsets <%= @map_info.map_data_offsets.to_json %>
		</p>

		<p>
			X Shift: <%= @map_info.x_shift.to_json %>
		</p>	

		<p>
			Y Shift: <%= @map_info.y_shift.to_json %>
		</p>	

		<p>
			Layer Priorities: <%= @map_info.layer_priorities.to_json %>
		</p>	

		<p>
			Scroll Index: <%= @map_info.scroll_index.to_json %>
		</p>		

		<p>
			Palette: <%= @map_info.palette.to_json %>
		</p>

		<p>
			Song: <%= @map_info.song.to_json %>
		</p>

		<p>
			Has Monsters: <%= @map_info.has_monsters.to_json %>
		</p>

		<p>
			Monster Set: <%= @map_info.monster_set.to_json %>
		</p>

		<p>
			Battle BG: <%= @map_info.battle_bg.to_json %>
		</p>
	</div>
</div>